:root {
  --nav-brd: #33333317;
  --input-brd: #3333332d;
  --hover-violet: #d40dee
}

.navbar {
  border-bottom: 1px solid var(--nav-brd);
  animation-name: fromBottom;
  animation-duration: 1s;
  &-toggler-icon {
    height: 20px;
  }
}

.btn-search {
  background: transparent;
  border: 1px solid var(--input-brd);
  border-radius: 25px;
  padding: 7px 42px;
}

.nav-item {
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: 1px solid var(--input-brd);
    border-radius: 25px;
    min-height: 35px;
    padding-left: 15px;
    outline: none;
    transition: all .5s;
    &:focus {
      border: 1px solid var(--hover-violet);
    }
  }
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  flex-direction: column;
}

.nav-link {
  color: #33333394 !important;
  transition: all .3s
}

.nav-link:hover,
.nav-link:focus {
  color: black !important;
  border-bottom: 2px solid var(--hover-violet)
}

.flex-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
