:root {
  --black: black;
  --text-grey: #ffffffce;
  --box-brd-color: #33333317;
  --box-shd-color: rgba(53, 62, 105, 0.267);
  --box-shd-color-hover: rgba(55, 77, 185, 0.616);
}

body {
  font-family: 'Montserrat', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  &__item {
    border: 1px solid var(--box-brd-color);
    box-shadow: 12.622px 12.829px 114px 0px var(--box-shd-color);
    transition: all .5s;
    border-radius: 7px;
    color: var(--black);
    animation-name: fromBottom;
    animation-duration: 1s;
    &-top {
      position: relative;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .author {
        position: absolute;
        bottom: 0;
        left: 20px;
        background: var(--text-grey);
        padding: 5px;
      }
      .title {
        position: absolute;
        bottom: 36px;
        left: 20px;
        background: var(--text-grey);
        padding: 5px;
      }
    }
    &-bottom {
      padding: 20px;
      position: relative;
      h1 {
        font-size: 29px;
        font-weight: 500;
        margin: 5px 0 15px 0
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6
      }
    }
    &:hover {
      box-shadow: 12.622px 12.829px 114px 0px var(--box-shd-color-hover);
      transform: scale(1.04)
    }
  }
}

.headline {
  margin: 25px 0 50px 0;
  animation-name: fromBottom;
  animation-duration: 1.5s;
}

@media (max-width:600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(35px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
  &:hover {
    color: var(--black);
    text-decoration: none;
  }
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}
